<%= form_for(@topic, url: learning_topics_create_path(@topic)) do |f| %>

<section class="content-header">
  <h1>
    <font face="verdana">
      <b><i class='fa fa-fw fa-paste'></i> Learn & Teach</b>
    </font>
  </h1>
</section>

<section class="content">
  <div class="row">
    <!-- left column -->
    <div class="col-md-12">
      <!-- general form elements -->
      <div class="box box-primary">
        <div class="box-header">
          <h3 class="box-title">Teaching Topics</h3>
        </div><!-- /.box-header -->
        <!-- form start -->
        <form role="form">
          <div class="box-body">
            <div class="form-group">
              <label for="exampleInputEmail1"><font size="3">Topic Name</font></label>
              <%= f.text_field :topic_name, autofocus: true, class: 'form-control', placeholder: 'Enter the topic you want to teach', :required => true %>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1"><font size="3">Description</font></label>
              <%= f.text_area :description, autofocus: true, class: 'form-control', placeholder: 'Enter the Description of the topic here', rows: '4', :required => true %>
            </div>

            <div class="form-group">
              <label for="exampleInputPassword1"><font size="3">Tags</font></label>
              <%= select_tag "tags", options_for_select(Tag.all.collect{ |t| t.tag_name }), multiple: true, class: "form-control", :width => "100px" %>
            </div>
	        <br>
	        <p class="help-block">All the users could see this thread and the users having these skills could see it in their newsfeed too.</p>
            </div>

          </div><!-- /.box-body -->

          <div class="box-footer actions">
            <%= f.submit "Create Topic", class: 'btn btn-success' %>
          </div>
        </form>
      </div><!-- /.box -->
    </div>
</section>

<% end %>