
<section class="content-header">
  <h1>
    <font face="verdana" size="5px">
      <b>
      	<i class='fa fa-fw fa-user'></i><%= @user.first_name+" "+@user.last_name %>
      	<small>
      		<%= " ("+@user.username+") " %>
      	</small>
      	<span class="label label-warning"><i class="fa fa-star"></i> <%= @rp %></span>

      	<!-- show followers here. -->
      	<span class="label label-success"><i class='fa fa-fw fa-users'></i> <%= @user.followers.count %></span>
      
      <% if @user == current_user %>
	    	<%= link_to "Edit Profile", edit_user_registration_path, :class => "btn btn-primary pull-right" %>
	    <% elsif current_user.followings.include?(@user)%>
	    	<%= link_to "<i class='fa fa-minus'></i> Unfollow".html_safe, {:controller => 'dashboard', :action => 'unfollow', :id => @user.id}, :class => "btn btn-info pull-right" %>
	    <% else %>
	    	<%= link_to "<i class='fa fa-plus'></i> Follow".html_safe, {:controller => 'dashboard', :action => 'follow', :id => @user.id}, :class => "btn btn-info pull-right" %>
	    <% end %>
      <br>
      </b>
    </font>
  </h1>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <section class="content-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel"><b><i class="fa fa-fw fa-envelope"></i> Send <em><%= @user.username %></em> a Message</b></h4>
        </section>
      </div>
      <div class="modal-body">
        <%= form_for(@message, url: messages_create_path(@message), html: {role: :form}) do |f| %>
          <div class="form-group">
            <% users = User.where.not(id: current_user.id) %>
            <%= hidden_field_tag "recipient_id[]", @user.id %>
            <%= f.label :messages %>
            <%= f.text_area :body, class: 'form-control' %>
          </div>
      </div>
      <div class="modal-footer">
        <%= f.submit "Send", class: 'btn btn-success' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<section class="content">
  <div class="row">
    <!-- left column -->
    <div class="col-md-8">
      <!-- general form elements -->
      <div class="box box-primary">
        <div class="box-header">
        <%= form_for(@user, url: '#') do |f| %>
          <h3><b>Personal Details</h3></b>
        </div><!-- /.box-header -->
        <!-- form start -->
        <form role="form">
          <div class="box-body">
          	<div class="form-group"><h4>
          		<%= f.label :email %>
          		<%= ": "+@user.email %>
	          	<br><br>
          		<%= f.label :address %>
          		<% if @user.address.nil? %>
          		<%= " : N.A." %>
          		<% elsif @user.address.empty? %>
          		<%= " : N.A." %>
          		<% else %>
      			<%= ": "+@user.address %>
          		<% end %>
	          	<br><br>
          		<%= f.label :city %>
          		<% if @user.city.nil? %>
          		<%= " : N.A." %>
          		<% elsif @user.city.empty? %>
          		<%= " : N.A." %>
          		<% else %>
          		<%= ": "+@user.city %>
          		<% end %>
	          	<br><br>
          		<%= f.label :state %>
          		<% if @user.state.nil? %>
          		<%= " : N.A." %>
          		<% elsif @user.state.empty? %>
          		<%= " : N.A." %>
          		<% else %>
          		<%= ": "+@user.state %>
          		<% end %>
	          	<br><br>
          		<%= f.label :country %>
          		<% if @user.country.nil? %>
          		<%= " : N.A." %>
          		<% elsif @user.country.empty? %>
          		<%= " : N.A." %>
          		<% else %>
          		<%= ": "+@user.country %>
          		<% end %>
	          	<br><br>
          		<%= f.label :contact_number %>
          		<% if @user.contact.nil? %>
          		<%= " : N.A." %>
          		<% elsif @user.contact.empty? %>
          		<%= " : N.A." %>
          		<% else %>
          		<%= ": "+@user.contact %>
          		<% end %>
	          </h4>
          	</div>
          	<div class="form-group">
          	</div>
          </div>
      	</form>
      </div>
    </div>

    <div class="col-md-8">
      <!-- general form elements -->
      <div class="box box-primary">
        <div class="box-header">
          <h3><b>Educational Details</b></h3>
        </div><!-- /.box-header -->
        <!-- form start -->
        <form role="form">
          <div class="box-body">
          	<div class="form-group"><h4>
	          		<%= f.label :profession %>
	          		<% if @user.profession.nil? %>
	          		<%= " : N.A." %>
	          		<% elsif @user.profession.empty? %>
	          		<%= " : N.A." %>
	          		<% else %>
	          		<%= ": "+@user.profession %>
	          		<% end %>
	          	<br><br>
		          	<%= f.label :degree %>
	          		<% if @user.degree.nil? %>
	          		<%= " : N.A." %>
	          		<% elsif @user.degree.empty? %>
	          		<%= " : N.A." %>
	          		<% else %>
	          		<%= ": "+@user.degree %>
	          		<% end %>
	          	<br><br>
	          		<%= f.label :institute %>
	          		<% if @user.institute.nil? %>
	          		<%= " : N.A." %>
	          		<% elsif @user.institute.empty? %>
	          		<%= " : N.A." %>
	          		<% else %>
	          		<%= ": "+@user.institute %>
	          		<% end %>
	          	<br><br>
		          	<%= f.label :areas_Of_Interest %>
	          		<%= ": " %>
		          	<% @user.interest_areas.each do |tag| %>
				      	<a class="btn btn-primary btn-xs disabled"><%= tag.tag_name %></a>
			    		<% end %>
		    	<br><br>
				    <%= f.label :areas_Of_Expertise %>
				    <%= ": " %>
				    <% @user.expertise_areas.each do |tag| %>
				    <a class="btn btn-primary btn-xs disabled"> <%= tag.tag_name %></a>
				    <% end %>
				<br><br>
					<%= f.label :Resume %>
				    <%= ": " %>
				    <%= link_to "Download Resume/CV", dashboard_download_resume_path(id: @user.id), :class => 'btn btn-xs btn-success' %>
		    	<br><br><br><br>
		          	<% if @user != current_user %>
		                  <!-- Modal button -->
		                  <button type="button" class="btn btn-info btn-s pull-left" data-toggle="modal" data-target="#myModal"><i class="fa fa-fw fa-envelope"></i> Message <%= @user.username %></button>
			          	<%= button_to "Report", '#', :class => 'btn btn-danger pull-right' %>
			    	<% end %>
	          	<br>
	          </h4>
          	</div>
          </div>
      	</form>
      </div>
    </div>
  </div>
</section>

<% end %>