<section class="content-header">
</section>

<section class="content">
  <div class="col-xs-12">
    <div class="box box-info">
      <div class="box-header">
        <h3 class="box-title">Notifications</h3>
      </div>
      <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
          <% if not @notifications.empty? %>
          <% @notifications.each do |notification| %>
            <tr>
              <td>
                <% if notification.type == "follow" %>
                  <% user = User.find(notification.type_id) %>
                  <i class='fa fa-user text-aqua'></i> <%= link_to " #{user.username} ".html_safe, {:controller => 'dashboard', :action => 'show_profile', :id => user.id} %> started following you.
                <% elsif notification.type == "discussion_reply" %>
                  <% discussion = Discussion.find(notification.type_id) %>
                  <% user = User.find(notification.optional_id) %>
                  <i class='fa fa-users text-aqua'></i> <%= link_to user.username, {:controller => 'dashboard', :action => 'show_profile', :id => user.id} %> replied on your topic : <%= link_to discussion.topic_name, {:controller => 'discussions', :action => 'show', :id => discussion.id} %>.
                <% else %>
                  <% user = User.find(notification.optional_id) %>
                  <i class='fa fa-users text-aqua'></i> <%= link_to user.username, {:controller => 'dashboard', :action => 'show_profile', :id => user.id} %> shared<%= link _to " project.".html_safe, {:controller => 'projects', :action => 'show', :id => notification.type_id} %>
                <% end %>
              </td>
            </tr>
          <% end %>
          <% else %>
          <tr>
          <p><center>
              <b>You have no notifications yet !!</b>
          </center></p>
          </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</section>