<section class="content-header"></section>

<section class="content">
  <div class="box box-warning direct-chat direct-chat-warning">
    <div class="box-header with-border">
      <h3 class="box-title"><%= link_to @recipient.first_name + " " + @recipient.last_name + " (" + @recipient.username + ")", dashboard_show_profile_path(id: @recipient.id)  %></h3>
    </div><!-- /.box-header -->
    <div class="box-body">
      <!-- Conversations are loaded here -->
      <div class="direct-chat-messages" >

      <% @messages.each do |message| %>
        <% if message.user_id == current_user.id %>
        <div class="direct-chat-msg">
          <div class='direct-chat-info clearfix'>
            <span class='direct-chat-name pull-left'>You</span>
            <span class='direct-chat-timestamp pull-right'><%= time_ago_in_words(message.created_at) %></span>
          </div><!-- /.direct-chat-info -->
          <div class="direct-chat-text pull-left" >
            <%= message.body %>
          </div><!-- /.direct-chat-text -->
        </div><!-- /.direct-chat-msg -->
        <% else %>
        <!-- Message to the right -->
        <div class="direct-chat-msg right">
          <div class='direct-chat-info clearfix'>
            <span class='direct-chat-name pull-right'><%= @recipient.first_name + " " + @recipient.last_name %></span>
            <span class='direct-chat-timestamp pull-left'><%= time_ago_in_words(message.created_at) %></span>
          </div><!-- /.direct-chat-info -->
          <div class="direct-chat-text">
            <%= message.body %>
          </div><!-- /.direct-chat-text -->
        </div><!-- /.direct-chat-msg -->
        <% end %>
      <% end %>
       </div>
      </div><!--/.direct-chat-messages-->

      

    <div class="box-footer">
      <%= form_for(@message, url: messages_create_path(@message), html: {role: :form}) do |f| %>
        <div class="input-group">
          <%= hidden_field_tag "recipient_id[]", @recipient.id %>
          <%= f.text_field :body, class: 'form-control', :required => true %>
          <span class="input-group-btn">
            <%= f.submit "Send", class: 'btn btn-success btn-flat', :required => true %>
          </span>
        </div>
      <% end %>
      </div><!-- /.box-body -->
    <!-- <div class="box-footer">
      <form action="#" method="post">
        <div class="input-group">
          <input type="text" name="message" placeholder="Type Message ..." class="form-control"/>
          <span class="input-group-btn">
            <button type="button" class="btn btn-warning btn-flat">Send</button>
          </span>
        </div>
      </form>
    </div>< !-- /.box-footer-->
  </div>
</section>