<li>
<i class="fa fa-flag bg-blue"></i>
<div class="timeline-item">
  <span class="time"><i class="fa fa-clock-o"></i> <%= time_ago_in_words(discussion.created_at) + " ago" %></span>
  <h2 class="timeline-header"><b><%= link_to(discussion.topic_name, {:action => 'show', :id => discussion.id}) %></b>
  	<%= link_to("Edit", {:action => 'edit', :id => discussion.id}, class: 'btn btn-xs') %>
  	<%= link_to("Delete", {:action => 'delete', :id => discussion.id}, class: 'btn btn-xs') %></h2>
  <div class="timeline-body">
    <%= discussion.description %>
  </div>
  <div class='timeline-footer'>
    <% discussion.discussion_tags.each do |tag| %>
    <a class="btn btn-primary btn-xs disabled"><%= tag.tag_name %></a>
    <% end %>
  </div>
</div>
</li>