<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  	<div class="body"></div>
		<div class="grad"></div>
			<div class="header">
				<div><h1><b>PRO<span>found</span></b></h1></div><br><br><br>
				<font face="exo" size="3">
					<center> Seek <br /> Endeavour <br /> Discover </center>
					<center>-------</center>
					<center>
						Bridge the gap,<br />Broaden the Vision,<br />Proliferate the Skills
					</center>
				</font>
			</div>
			<br>
			<div class="alert-box">
				<% if notice %>
			  <center><p class="alert alert-success"><%= notice %></p></center>
			<% end %>
			<% if alert %>
			  <center><p class="alert alert-danger"><%= alert %></p></center>
			<% end %>
			
			</div>
		<div class="login">

			<%= f.email_field :email, type: 'text', placeholder: 'Email' %>

			<%= f.password_field :password, type: 'password', placeholder: 'Password', autocomplete: "off" %>
			<div class="actions">
			    <%= f.submit "Log in", value: 'Login' %>
			</div>
			<!-- <input type="button" value="Login"> -->

			<% if devise_mapping.rememberable? -%>
		      <div class="field">
		        <%= f.check_box :remember_me %>
		        <%= f.label :remember_me %>
		        <div class="signintext">
		        	<%= render "users/shared/links" %>
		        </div>
		      </div>
		    <% end -%>
		    
		</div>

<% end %>

<script src='http://codepen.io/assets/libs/fullpage/jquery.js'></script>