<div class="col-md-3">
  <% if project.project_status == "completed"%>
  <%      badge = "box box-success box-solid" %>
  <% elsif project.project_status == "ongoing"%>
  <%      badge = "box box-primary box-solid" %>
  <% else %>
  <%      badge = "box box-danger box-solid" %>
  <% end %>
  <div class="<%= badge %>">
    <div class="box-header with-border" >
      <div style="overflow: hidden">
      <h3 class="box-title"><i class="fa fa-fw fa-book"></i> <%= link_to project.project_name, {:action => 'show', :id => project.id} %></h3>
      </div>
    </div>
    <div class="box-body" style="overflow: hidden">
      <h4><i class="fa fa-fw fa-user"></i> <%= link_to project.user.username, {:controller => 'dashboard', :action => 'show_profile', :id => project.user.id} %></h4>
      <p><i class="fa fa-clock-o"></i> <%= time_ago_in_words(project.created_at)+" ago" %></p>
      <p style="text-overflow: ellipsis"><%= project.project_description %></p>
      <p>
      <% project.project_tags[0..4].each do |tag| %>
      <a class="btn btn-primary btn-xs disabled"><%= tag.tag_name %></a>
      <% end %>
      <% if project.project_tags.length  > 5 %>
      <a class="btn btn-primary btn-xs disabled">....</a>
      <% end %>
      </p>
    </div>
  </div>
</div>