<section class="content-header">
  <h1>
      <b>
      	<i class='fa fa-fw fa-graduation-cap'></i> Project Details
      </b>
      <%= link_to "Share", {:controller => 'projects', :action => 'share', :id => @project.id}, {:class => 'btn btn-warning pull-right'} %>
  </h1>
</section>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <section class="content-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel"><b><i class="fa fa-fw fa-envelope"></i> Send <em><%= @project.user.username %></em> a Message</b></h4>
        </section>
      </div>
      <div class="modal-body">
        <%= form_for(@message, url: messages_create_path(@message), html: {role: :form}) do |f| %>
          <div class="form-group">
            <%= hidden_field_tag "recipient_id[]", @project.user.id %>
            <%= f.label :messages %>
            <% message = "I would like to work on your project : #{@project.project_name}" %>
            <%= f.text_area :body, class: 'form-control', value: message, :required => true %>
          </div>
      </div>
      <div class="modal-footer">
        <%= f.submit "Send", class: 'btn btn-success' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<section class="content">
  <div class="row">
    <!-- left column -->
    <div class="col-md-12">
      <!-- general form elements -->
      <div class="box box-primary">
        <!-- form start -->
        <form role="form">
          <div class="box-body">
          	<div class="form-group">
          		<div>
	          		<b>Name</b>
	          		<%= ": " + @project.project_name %>
	          	</div>
	          	<br>
	          	<div>
	          		<b>Created By</b>
	          		<%= link_to ": " + @project.user.username, {:controller => 'dashboard', :action => 'show_profile', :id => @project.user_id} %>
	          	</div>
	          	<br>
	          	<div>
	          		<b>Description</b>
	          		<%= ": " + @project.project_description %>
	          	</div>
	          	<br>
	          	<div>
	          		<b>Status</b>
	          		<%= ": " + @project.project_status %>
	          	</div>
	          	<br>
	          	<div>
	          		<% @project.project_tags.each do |tag| %>
      				<a class="btn btn-primary btn-xs disabled"><%= tag.tag_name %></a>
      				<% end %>
	          	</div>
	          	<br>
	          	<div>
	          		<small><span class="time"><i class="fa fa-clock-o"></i> Created <%= time_ago_in_words(@project.created_at) + " ago" %></span></small>
	          	</div>
	          	<br>
	          	<% if not @project.user == current_user %>
	          		<% if not @project.project_status == "completed" %>
		          	<!-- Modal button -->
	                <button type="button" class="btn btn-info btn-s pull-left" data-toggle="modal" data-target="#myModal"><i class="fa fa-fw fa-envelope"></i> Contact <%= @project.user.username %></button>
	                <% end %>
	                <% ids = current_user.commendations.collect { |c| [c.commended_user_id, c.entity_id, c.entity] } %>
	          	<% if not ids.include?([@project.user_id, @project.id, "project"]) %>
	          	<%= link_to "Commend User", {:action => 'commend', :id => @project.user_id, :id_2 => @project.id}, :class => 'btn btn-success pull-right' %>
	          	
	          	<% end %><br>
	          	<% else %>
	          	<%= link_to "Edit Project", {:action => 'edit', :id => @project.id}, :class => "btn btn-success pull-left", method: :get %>
    			<%= link_to "Delete Project", {:action => 'delete', :id => @project.id}, :class => "btn btn-danger pull-right", method: :get %>
    			<br>
	          	<% end %>
          	</div>
          	<div class="form-group">
          	</div>
          </div>
      </div>
    </div>

  </div>
</section>