<!DOCTYPE html>
<html>
<head>
  <title>Profound</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-header">
		<div class="container-fluid">
		  <a class="navbar-brand" href="#"><font face="exo"><b>PRO<span>found</span></b></font></a>
	     </div>
	</div>
</div>

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<%= yield %>

<br><br><br><br><br><br><br><br><br>
<div class="footer">
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&copy;
  PROfound 2015 | All Rights Reserved
</div>

</body>
</html>