<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

<div class="body"></div>
    <div class="grad"></div>
      <div class="header">
        <div><h1><b>PRO<span>found</span></b></h1></div><br><br><br>
        <font face="exo" size="3">
          <center> Seek <br /> Endeavour <br /> Discover </center>
          <center>-------</center>
          <center>
            Bridge the gap,<br />Broaden the Vision,<br />Proliferate the Skills
          </center>
        </font>
      </div>
      <br>

    <div class="login">

      <%= f.email_field :email, input_html: {class: 'signup'}, placeholder: 'Email', type: 'text'%>
      <!-- <input type="text" placeholder="email" name="email"> -->
      
      <%= f.text_field :username, input_html: {class: 'signup'}, placeholder: 'Username', type: 'text' %>
      <!-- <input type="text" placeholder="username" name="username"> -->
      
      <%= f.text_field :first_name, input_html: {class: 'signup'}, placeholder: 'First name', type: 'text' %>
      <!-- <input type="text" placeholder="first name" name="firstname"> -->

      <%= f.text_field :last_name, input_html: {class: 'signup'}, placeholder: 'Last name', type: 'text' %>

      <div class="field">
        <%= f.password_field :password, input_html: {class: 'signup'}, placeholder: 'Password', type: 'password', autocomplete: "off" %>
      </div>
      <!-- <input type="password" placeholder="email" name="password"> -->

      <div class="field">
        <%= f.password_field :password_confirmation, input_html: {class: 'signup'}, placeholder: 'Re-type password', type: 'password', autocomplete: "off" %>
      </div>
      <!-- <input type="password" placeholder="password confirmation" name="passwordconfirmation"> -->
    </div>

    <div class="signupbutton">
      <div class="actions">
        <%= f.submit "Sign up", value: 'Signup' %>
      </div>
      <!-- <input type="button" value="Sign up"> -->
      <br>
      <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= render "users/shared/links" %>
          </div>
      <% end -%>

    </div>

<% end %>
