<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

<div class="body"></div>
    <div class="grad"></div>
      <div class="header">
        <div><h1><b>PRO<span>found</span></b></h1></div><br><br><br>
        <font face="exo" size="3">
          <center> Seek <br /> Endeavour <br /> Discover </center>
          <center>-------</center>
          <center>
            Bridge the gap,<br />Broaden the Vision,<br />Proliferate the Skills
          </center>
        </font>
      </div>
      <br>

    <div class="signup">

      <%= f.email_field :email, input_html: {class: 'signup'}, placeholder: 'email', type: 'text', name: 'email' %>
      <!-- <input type="text" placeholder="email" name="email"> -->
      
      <%= f.text_field :username, input_html: {class: 'signup'}, placeholder: 'username', type: 'text', name: 'username' %>
      <!-- <input type="text" placeholder="username" name="username"> -->
      
      <%= f.text_field :first_name, input_html: {class: 'signup'}, placeholder: 'first name', type: 'text', name: 'firstname' %>
      <!-- <input type="text" placeholder="first name" name="firstname"> -->

      <%= f.text_field :last_name, input_html: {class: 'signup'}, placeholder: 'last name', type: 'text', name: 'lastname' %>
      <!-- <input type="text" placeholder="last name" name="lastname"> -->

      <%= f.text_field :address, input_html: {class: 'signup'}, placeholder: 'address', type: 'text', name: 'address' %>
      <!-- <input type="text" placeholder="address" name="address"> -->

      <%= f.text_field :city, input_html: {class: 'signup'}, placeholder: 'city', type: 'text', name: 'city' %>
      <!-- <input type="text" placeholder="city" name="city"> -->

      <%= f.text_field :state, input_html: {class: 'signup'}, placeholder: 'state', type: 'text', name: 'state' %>
      <!-- <input type="text" placeholder="state" name="state"> -->

      <%= f.text_field :country, input_html: {class: 'signup'}, placeholder: 'country', type: 'text', name: 'country' %>
      <!-- <input type="text" placeholder="country" name="country"> -->

      <%= f.text_field :profession, input_html: {class: 'signup'}, placeholder: 'profession', type: 'text', name: 'profession' %>
      <!-- <input type="text" placeholder="profession" name="profession"> -->

      <%= f.text_field :institute, input_html: {class: 'signup'}, placeholder: 'institute', type: 'text', name: 'institute' %>
      <!-- <input type="text" placeholder="institute" name="institute"> -->

      <%= f.text_field :institute, input_html: {class: 'signup'}, placeholder: 'highest degree', type: 'text', name: 'degree' %>
      <!-- <input type="text" placeholder="highest degree" name="degree"> -->

      <%= f.text_field :contact, input_html: {class: 'signup'}, placeholder: 'contact number', type: 'text', name: 'contact' %>
      <!-- <input type="text" placeholder="contact number" name="contact"> -->

      <%= f.text_field :security_que, input_html: {class: 'signup'}, placeholder: 'security question', type: 'text', name: 'securityquestion' %>
      <!-- <input type="text" placeholder="security question" name="securityquestion"> -->

      <%= f.text_field :security_ans, input_html: {class: 'signup'}, placeholder: 'security answer', type: 'text', name: 'securityanswer' %>
      <!-- <input type="text" placeholder="security answer" name="securityanswer"> -->

      <div class="field">
        <%= f.password_field :password, input_html: {class: 'signup'}, placeholder: 'password', type: 'password', name: 'password', autocomplete: "off" %>
      </div>
      <!-- <input type="password" placeholder="email" name="password"> -->

      <div class="field">
        <%= f.password_field :password_confirmation, input_html: {class: 'signup'}, placeholder: 're-type password', type: 'password', name: 'passwordconfirmation', autocomplete: "off" %>
      </div>
      <!-- <input type="password" placeholder="password confirmation" name="passwordconfirmation"> -->
    </div>

    <div class="signupbutton">
      <input type="button" value="Sign up">
      <br><br>
      <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= render "users/shared/links" %>
          </div>
      <% end -%>

    </div>

<% end %>
